body{
background:black;
color:white;
font-family:Arial;
margin:0;
}

.container{
max-width:900px;
margin:auto;
padding:15px;
}

h1{
text-align:center;
color:#FFD700;
}

.topbar{
display:flex;
justify-content:space-between;
background:#0f172a;
padding:12px;
border-radius:10px;
margin-bottom:15px;
}

.timeframe{
display:flex;
gap:8px;
margin-bottom:10px;
}

.timeframe button{
flex:1;
}

button{
background:linear-gradient(90deg,#FFD700,#ff7a00);
border:none;
padding:12px;
border-radius:8px;
width:100%;
font-weight:bold;
margin-top:10px;
transition:0.3s;
cursor:pointer;
}

button:hover{
transform:scale(1.05);
box-shadow:0 0 10px gold;
}

input{
width:100%;
padding:12px;
border:none;
border-radius:8px;
background:#1e293b;
color:white;
margin-top:10px;
}

.card{
background:#020617;
padding:15px;
border-radius:10px;
margin-top:15px;
}

.grid{
display:grid;
grid-template-columns:1fr 1fr;
gap:10px;
}

.grid div{
background:#111827;
padding:10px;
border-radius:8px;
}

.chartBox{
background:#020617;
padding:15px;
border-radius:10px;
margin-bottom:15px;
height:300px;
}

#status a{
color:#FFD700;
font-weight:bold;
}

@media(max-width:600px){

.grid{
grid-template-columns:1fr;
}

.topbar{
flex-direction:column;
gap:5px;
}

}
